.o_form_view .o_form_sheet_bg .allwidth{
    width: 100% !important;
    max-width: 100% !important;

}
.summary_table{
    width: 100% 

}
.table_header
{
    text-align: center;
    min-width:100px;
    vertical-align: middle;
}

.color-checkin{
    background-color: red;
    color: white;

}
.color-checkout{
    background-color: blue;
    color: white;

}
.color-confirm{
    background-color: green;
    color: white;

}
.color-draft{
    background-color: yellow;
    color: black;

}
.table_Parcial
{
    text-align: center;
    min-width:100px;
    vertical-align: middle;
    cursor:pointer;
    background-color: yellow !important;
    color: #000 !important;
}

.table_Reserved
{
    text-align: center;
    min-width:100px;
    vertical-align: middle;
    cursor:pointer;
}
.table_reserved1
{
    background-color: blue;
    color: white;
    text-align: center;
    min-width:100px;
    vertical-align: middle;
    cursor:pointer;
}
.color_draft
{
    background-color: yellow;
    color: black;
}

.table_free
{
    background-color: white;
    color: black;
    text-align: center;
    min-width:100px;
    vertical-align: middle;
    cursor:pointer;
}
